/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

@font-face {
  font-family: 'Railway';
  src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');
} */

*,
*::after,
*::before {
    margin: 0 auto;
    padding: 0;
    box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%; /* make relative unit. 1rem = 10px */
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Railway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  letter-spacing: 1px;
  background: #F7F7F7;
  min-width: 100vw;
  min-height: 100vh;
}
a {
  color: #4a4a4a;
  text-decoration: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}